@import url('https://fonts.googleapis.com/css?family=Quicksand');

@media handheld, only screen and (max-width: 500px) {

	.contexto{
		grid-template-columns: 55px 56px 12px 10px;
		grid-template-rows: 75px 37px 37px;
		margin-top:20vh;
	}

	.texto {
		display: none;
	}

	.menu {
		display: inline-grid;
		grid-template-columns: repeat(5 auto);
		grid-template-rows: 20px;
		font-family:'Quicksand', sans-serif;
		color: #686868;
		font-weight: bolder;
		grid-column: 2;
		grid-row:3;
		margin-top: 15px;
	}

	.a {
		grid-column:1;
	}

	.b {
		grid-column:1;
	}

	.c {
		grid-column:1;
	}

	.d {
		grid-column:1;
	}

	.e {
		grid-column:1;
	}

}

a {
	font-family:'Quicksand', sans-serif;
	font-weight: bolder;
	color: #686868;
	text-decoration: none;
}

a:hover {
	color: #006CFF;
}

.contexto {
	display:grid;
	align-items: start;
	padding: 0;
	justify-content: center;
}

.simbolo {
	grid-area: 1 / 1 / span 2 / span 2;

}

.texto {
	grid-column:4;
	grid-row:1;
	margin-top: 27px;
}

.img1 {
	width: 370px;
	height: auto;
}

.img2 {
	width: 112px;
	height: auto;
}

opcion {
	white-space: pre;
}


.b,.c,.d,.e {
	color: #DCDCDC;
}

@media handheld, only screen and (min-width: 501px) {

	.contexto{
		grid-template-columns: 55px 56px 12px 430px;
		grid-template-rows: 75px 37px 37px;
		margin-top:42vh;
	}

	.menu {
		display: inline-grid;
		grid-template-columns: repeat(5 auto);
		grid-template-rows: 20px;
		font-family:'Quicksand', sans-serif;
		color: #686868;
		font-weight: bolder;
		grid-column: 4;
		grid-row:2;
		margin-top: 7px;
	}

	.a {
		grid-column:1;
	}

	.b {
		grid-column:2;
	}

	.c {
		grid-column:3;
	}

	.d {
		grid-column:4;
	}

	.e {
		grid-column:5;
	}

}

/*
.contexto {
	display: grid;
	grid-template-columns: 40px 50px auto 50px 40px;
	grid-template-rows: auto 70px 70px 70px auto;
	height: 80vh;
}


.item3 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	text-align: center;
}

.profile-link {
  display: inline-block;
  padding: 1em;
  width: 48em;
  max-width: 80%;
}

.profile-pic {
  width: 100%;
  height: auto;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

*/